<div id="<%= dom_id roommate %>">
  <p>
    <strong>Name:</strong>
    <%= roommate.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= roommate.location %>
  </p>

  <p>
    <strong>Num of nightmares:</strong>
    <%= roommate.num_of_nightmares %>
  </p>

</div>
